/* .signupage-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 5px;
}
.signup-container {
  max-width: 468px;
  width: 100%;
  height: 720px;
  background: #fbfbfb;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  color: #444444;
  padding: 30px 40px 30px 40px;
}
.signup-container a {
  text-decoration: none;
  color: #4d70ff;
  font-family: "Roboto";
  cursor: pointer;
}
.title {
  width: 100%;
  font-weight: 900;
  font-size: 32px;
  margin-top: 21px;
}
.name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 34px;
}
.name-container span {
  font-size: 14px;
}
#name {
  width: 100%;
  height: 45px;
  background: #fbfbfb;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  padding-left: 5px;
  border-radius: 4px;
  margin-top: 5px;
  outline-color: #4d70ff;
}

.email-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 31px;
  font-size: 14px;
}
.email-inputbox {
  width: 100%;
  height: 45px;
  background: #fbfbfb;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 5px;
  outline-color: #4d70ff;
}
#email {
  width: 103px;
  height: 45px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  margin-left: 20px;
  padding: 0;
  box-sizing: border-box;
}
.password-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#password {
  width: 100%;
  height: 45px;
  background: #fbfbfb;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 5px;
  margin-top: 5px;
  outline-color: #4d70ff;
}
#password-confirm {
  width: 100%;
  height: 45px;
  background: #fbfbfb;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 5px;
  margin-top: 5px;
  outline-color: #4d70ff;
} */
