@media screen and (max-width: 1200px) {
  div.mainpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  div.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  input {
    border-style: none;
    width: 80%;
    margin-left: 10px;
    background-color: transparent;
    font-size: 12px;
  }
  ::placeholder {
    color: #b0afaf;
  }
  :focus {
    outline: none;
  }
}
